<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/hyouka.css' %}">
    <link rel="icon" type="image/x-icon" href="https://i.pinimg.com/736x/8d/11/ae/8d11ae0c79f65e3ff3171a30587a9e11.jpg">
    <title>Hyouka</title>
</head>
<body>
    <!-- NavBar -->
<nav id="globalNav">
			<h1><a href="/kotenbu/" title="TVアニメ「氷菓」京アニサイト"><img src="{% static "logo.png" %}" width="160" height="240" alt="氷菓"></a></h1>
			<ul id="globalNavMenu-01" class="globalNavList clearfix">
				<li id="globalNavList-01"><a href="/kotenbu/news/" title="古典部の最新情報"><span>Hyouka</span></a></li>
				<li id="globalNavList-02" class="subMenu">
					<a href="/kotenbu/story/" title="古典部のストーリー"><span>古典部のストーリー</span></a>
					<ul class="subNav" style="display: none;">
						<li><a href="/kotenbu/story/18/" title="第十八話">第十八話</a></li>
						<li><a href="/kotenbu/story/19/" title="第十九話">第十九話</a></li>
						<li><a href="/kotenbu/story/20/" title="第二十話">第二十話</a></li>
						<li><a href="/kotenbu/story/21/" title="第二十一話">第二十一話</a></li>
						<li><a href="/kotenbu/story/22/" title="第二十二話">第二十二話</a></li>
					</ul>
				</li>
				<li id="globalNavList-03"><a href="/kotenbu/character/" title="古典部の登場人物"><span>古典部の登場人物</span></a></li>
				<li id="globalNavList-04"><a href="/kotenbu/onair/" title="古典部の放送情報"><span>古典部の放送情報</span></a></li>
				<li id="globalNavList-05"><a href="/kotenbu/staff-cast/" title="古典部のスタッフ・キャスト"><span>古典部のスタッフ・キャスト</span></a></li>
			</ul>
			<ul id="globalNavMenu-02" class="globalNavList clearfix">
				<li id="globalNavList-06"><a href="/kotenbu/gallery/" title="古典部のギャラリー"><span>古典部のギャラリー</span></a></li>
				<li id="globalNavList-07"><a href="/kotenbu/interview/" title="古典部の取材記録"><span>古典部の取材記録</span></a></li>
				<li id="globalNavList-08" class="subMenu">
					<a href="/kotenbu/product/" title="古典部の商品情報"><span>古典部の商品情報</span></a>
					<ul class="subNav" style="display: none;">
						<li><a href="/kotenbu/product/package/" title="Blu-ray・DVD">Blu-ray・DVD</a></li>
						<li><a href="/kotenbu/product/kyoani_goods/" title="京アニグッズ">京アニグッズ</a></li>
						<li><a href="/kotenbu/product/figure/" title="フィギュア">フィギュア</a></li>
					</ul>
				</li>
				<li id="globalNavList-10"><a href="/kotenbu/link/" title="あとがき"><span>あとがき</span></a></li>
			</ul>
		</nav>


        <div class="content">
        <h1>Welcome to Hyouka</h1>
        <p>Ye content background ke upar hai.</p>

    </div>



	<footer>
		<p>&copy; 2023 Hyouka. All rights reserved.</p>

</body>
</html>